<div class="container" >
    <div class="col-sm-3" >
      <div class="card" style="width: 18rem;">
        <img src="{{drink.strDrinkThumb}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{drink.strDrink}}</h5>
          <p class="card-text">{{drink.strCategory}}</p>
          <p class="card-text">{{drink.strAlcoholic}}</p>
          <p class="card-text">{{drink.strGlass}}</p>
          <p class="card-text">{{drink.strIngredient1}}</p>
          <p class="card-text">{{drink.strIngredient2}}</p>
          <p class="card-text">{{drink.strIngredient3}}</p>
          <p class="card-text">{{drink.strIngredient4}}</p>
          <a class="btn btn-primary" (click)="">Regresar</a>
        </div>
      </div>
    </div>
  </div>
