.container{
    width: 100%;
    display: flex;
    max-width: 1200px;
}

.card-header{
    width: 100%;
    border-radius: 6px;    
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    color: rgb(236, 10, 10);
    overflow: hidden;
    background: rgb(83, 76, 76);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 500ms ease ;
}

.card:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    transform: translate(3%);
}

.card img{
    width: 100%;
    height: 210px;
    
}

