<div class="card-header">
  <h1>The Cockteil DB</h1>
</div>
<div class="container">

  <body>
    <form>
      <label for="nombre" class="btn btn-primary">Buscar</label>
      <input type="buscar" id=>
    </form>
    <div class="row">
      <div class="col-sm-3" *ngFor="let drink of drinks">
        <div class="card" style="width: 18rem;">
          <img src="{{drink.strDrinkThumb}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title" font-weigh="bold">{{drink.strDrink}}</h4>
            <p class="card-text">{{drink.strCategory}}</p>
            <a type="button" pButton (click)="goDetail(drink.idDrink)" 
            mat-icon-button [routerLink]="['/drink']">
            Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>