<div class="container" >
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body" >
          <p class="card-text">{{ingredients.strIngredient}}</p>
          <button mat-raised-button 
          class="btn btn-primary"
          (click)="goBack()">Volver</button>

        </div>
      </div>
    </div>
  </div>

  